@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 350 0% 95%;
		--foreground: 350 0% 10%;
		--card: 350 0% 90%;
		--card-foreground: 350 0% 15%;
		--popover: 350 0% 95%;
		--popover-foreground: 350 95% 10%;
		--primary: 350 41% 43%;
		--primary-foreground: 0 0% 100%;
		--secondary: 350 10% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 312 10% 85%;
		--muted-foreground: 350 0% 40%;
		--accent: 312 10% 80%;
		--accent-foreground: 350 0% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 350 0% 90%;
		--border: 350 20% 67%;
		--input: 350 20% 50%;
		--ring: 350 41% 43%;
		--radius: 1rem;
	}
	.dark {
		--background: 350 10% 10%;
		--foreground: 350 0% 90%;
		--card: 350 0% 10%;
		--card-foreground: 350 0% 90%;
		--popover: 350 10% 5%;
		--popover-foreground: 350 0% 90%;
		--primary: 350 41% 43%;
		--primary-foreground: 0 0% 100%;
		--secondary: 350 10% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 312 10% 25%;
		--muted-foreground: 350 0% 65%;
		--accent: 312 10% 25%;
		--accent-foreground: 350 0% 90%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 350 0% 90%;
		--border: 350 20% 50%;
		--input: 350 20% 50%;
		--ring: 350 41% 43%;
		--radius: 1rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		max-width: 1440px;
	}
}
